<div class="container text-center">
  <button class="btn btn-secondary mb-5 shadow border" (click)="downloadFile()">Download Resume</button>
</div>
<div class="resume-container">
  <header>
      <h1>Sukanya</h1>
      <p>Email: 1289sukanya...... | Phone: 9914731557 | LinkedIn: ++++</p>
  </header>

  <section class="section">
      <h2>Work Experience</h2>
      <div class="job">
          <h3>Software Engineer Internship</h3>
          <h4>Juniper Networks , Bengaluru</h4>
          <p>01/2024 - 06/2024</p>
          <ul>
              <li>Task 1- Pkid memory module enhancement</li>
              <li>Responsibility/Task 2- IKED profiling</li>
              <li>Responsibility/Task 3-Resolved Customer PRs</li>
          </ul>
      </div>

  </section>

  <section class="section">
      <h2>Education</h2>
      <div class="education">
          <h3>B.E-ECE</h3>
          <h4>Thapar university , Patiala</h4>
          <p>2020- 2024</p>
      </div>
  </section>

  <section class="section">
      <h2>Skills</h2>
      <ul class="skills">
          <li>C/C++</li>
          <li>Linux</li>
          <li>Networking</li>
          <li>Data Structures</li>
      </ul>
  </section>



