body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.resume-container {
  max-width: 800px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  font-size: 2.5em;
}

h2 {
  background: #a0bdc2;
  color: black;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

h3 {
  margin: 5px 0;
}

h4 {
  margin: 0;
  font-weight: normal;
  color: black;
}

.section {
  margin-bottom: 20px;
}

.job, .education {
  margin-bottom: 15px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills li {
  background: #e7e7e7;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px;
}

.container {
  text-align: center;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  background-color: #a0bdc2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #70b0f5;
}
