<div class="container">
  <div class="row">
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>About Me</h2>
        <img src="/assets/photo.png" alt="profile picture" height="256" width="240" class="rounded-circle"/>
        <p>I am a 22 years old software developer.
          My hobbies include reading and playing badminton. This is my portfolio created by sung MEAN on 20-sept-2024</p>
      </div>
    </div>
  </div>
</div>

<div class="social-media">
  <h2>Reach Out!</h2>
  <a href="mailto:1289sukanya@gmail.com" aria-label="Email">
      <img src="/assets/email-icon.png" alt="Email Icon" height="50px">
  </a>
  <a href="https://www.linkedin.com/in/sukanya-24526133/" target="_blank" aria-label="LinkedIn">
      <img src="/assets/linkedin-icon.png" alt="LinkedIn Icon" height="50px">
  </a>
  <a href="https://github.com/sukanya-26/" target="_blank" aria-label="GitHub">
      <img src="/assets/github-icon.jpeg" alt="GitHub Icon" height="40px">
  </a>
</div>
